<!DOCTYPE html>

{% extends "navbar.html" %}

{% block link1 %}

<h2 style="text-align: center; font-family: times; color:red; font-size 25px"> Uses blueprint structure </h2>
<h2 style="text-align: center; font-family: times; color:red; font-size 25px"> I used variables </h2>
<h2 style="text-align: center; font-family: times; color:red; font-size 25px"> I created an object </h2>
<h2 style="text-align: center; font-family: times; color:red; font-size 25px"> front end html changes </h2>
<h4 style="text-align: center; font-family: times; color:red; font-size 10px"> Reflection/WOW: developed read.me organization and creator page  </h4>

{% endblock %}