<!DOCTYPE html>

{% extends "navbar.html" %}

{% block link1 %}

<h1> Nick's Minilab </h1>
<h3>Prime numbers from 2 to {{flamingo.get_n()}}</h3>

<div>
    {% for i in flamingo.get_primes() %}
    {{i}},
    {% endfor %}
</div>
<h2 style="text-align: center; font-family: times; color:blue; font-size 25px"> 1. I added a blueprint in the python file
    that says "nick.py found in minilabs/nick and cataloged the project to the main.py. I then made a route that referred the blueprint to the html template and
    showed the final results on the mini lab </h2>
<h2 style="text-align: center; font-family: times; color:purple; font-size 25px"> 2. I developed a class in the python
    file "nickminilab1.py which is located in the github minilab directory.  </h2>
<h2 style="text-align: center; font-family: times; color:green; font-size 25px">  3. In the nick.py file I was able to create an object </h2>
<h2 style="text-align: center; font-family: times; color:red; font-size 25px"> 4. To print and view properly, I use a python file for a loop in the html file "nickminilab1" to access the data
    processed in the python scripts.</h2>
<h4 style="text-align: center; font-family: times; color:pink; font-size 10px"> 5. Reflection/Wow: the main structure of the minilab was the wow aspect towards my project. The concept of the startup
    design were to influence motivated speculators the desire to add beneficial ideas toward their secular interest.
</h4>

{% endblock %}