{% extends 'base.html' %}
{% block home %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form id="bubbleform" action="/nick/nick_bubblesort" method="POST" >
        <input style="border-radius: 20px" class="col-1" name="var" id="var" type="string">
        <button style="margin-left: 20px" class="btn btn-primary">Sort!</button>
    </form>
</div>
<h1>{{sort.inputlist}}</h1>
</body>
<style>
body
{
  background-image: url(https://www.itl.cat/pngfile/big/230-2305525_lion-background-images-hd.jpg);
}
</style>
</html>
{% endblock %}