<!DOCTYPE html>

{% extends "navbar.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lola Mini Lab</title>
</head>
<body>
{% block link1 %}
<h3>Lolas Mini Lab</h3>
<form method='POST'>
    <div class="form-group">
        <label for="a">enter your first number</label>
        <input class="form-control" id="a" name="a" aria-describedby="emailHelp" placeholder="Enter an integer">
    </div>
    <div class="form-group">
        <label for="b">enter your second number</label>
        <input class="form-control" id="b" name="b" placeholder="Enter an integer">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
<h3> ({{a}}) times ({{b}}) = ({{product}}) & Number of digits is ({{ProductDigits}})</h3>
<h3>({{a}}) plus ({{b}}) = ({{sum}}) & Number of digits is ({{SumDigits}})</h3>
<ul>
    {% for lola in lolaminilab1 %}
    <li><a href="{{ lola.lolaminilab1 }}">{{ lolaminilab1.name }}</a></li></li>
    {% endfor %}
</ul>
{% endblock %}
</body>
</html>

