{% extends "navbar.html" %}

{% block link1 %}
<h1>About Valerie</h1>
<p>Hi! My name is Val and this is my second year in computer science! Last year I took AP Computer
    Science A with a focus in Java, and this year I am taking AP Comp Sci Principles with a focus in Python
    and HTML. My goal is to become familiar with computer science and eventually have it as my major in
    college. </p>
<h2>Some Things About Me:</h2>
<li>I love hanging out with my friends</li>
<li>I am on my school's dance team</li>
<img src="/static/img/val_photo1.JPG" width = "240" height = "360">
<img scr="/static/img/val_photo1.JPG" width = "340" height = "280">
<h3>My Goals and Role in this Project Are:</h3>
<li>Be able to populate and manage an API Database</li>
<li>Develop structural code to prevent errors and bugs in the future</li>
<li>Create the Quiz Page to determine the best college for the user</li>
<li>Collaborate with my team to implement our best ideas</li>

<style>
    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
    }

    .images img {
      width: 100%;
    }

    .images>div {
        padding: 10px;
        flex: 0 0 50%;
    }

    img {
      padding: 10;
    }

    p {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 20px;
      font-family: times-new-roman
    }

    li {
      text-align: left;
      padding-left: 15;
      padding-top: 0;
      color: black;
      font-size: 15px;
      font-family: times-new-roman
    }

    h1 {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 50px;
      font-family: times new roman;
    }

    h2 {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 40px;
      font-family: times new roman;
    }

    h3 {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 25px;
      font-family: times new roman;
    }

    h4 {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 25px;
      font-family: times new roman;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }


</style>

{% endblock %}"