{% extends "navbar.html" %}

{% block link1 %}
<h1>Yo, I'm Michael but my friends call me Mike. :)</h1>

<p>Yo, my name is Mike and this is my junior year of high school at DNHS and my second trimester in AP Comp sci principles. One of my biggest goals for this class is to become more fluent in coding and use that for practical reasons such as creating a website or database.</p>
<h2>Some things about me:</h2>
<li>I'm on the highschool soccer team.</li>
<li>I hang out with my friends all the time, so covid hurts!</li>




{% endblock %}


