{% extends "navbar.html" %}

{% block link1 %}
<h1>About Mike</h1>
<p>Hi guys, my names Mike :)</p>
<h2>Some Things About Me:
    I am a junior at Del Norte High School and play for the varsity soccer team but get 0 playing time. Besides that I really enjoy working out and playing videogames.</h2>
<li>I love kickin' it with my friends</li>
<li>I am on my school's varisty soccer team</li>

<h3>My Goals and Role in this Project Are:</h3>
<li>Refine and create many unique elements of the frontend portion.</li>
<li>Make the website look super pretty</li>
<li>Make the "About us" pages simple and consise</li>
<li>Collaborate with my team for maximum efficiency!</li>

<style>
    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
    }

    .images img {
      width: 100%;
    }

    .images>div {
        padding: 10px;
        flex: 0 0 50%;
    }

    img {
      padding: 10;
    }

    p {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 20px;
      font-family: times-new-roman
    }

    li {
      text-align: left;
      padding-left: 15;
      padding-top: 0;
      color: black;
      font-size: 15px;
      font-family: times-new-roman
    }

    h1 {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 50px;
      font-family: times new roman;
    }

    h2 {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 40px;
      font-family: times new roman;
    }

    h3 {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 25px;
      font-family: times new roman;
    }

    h4 {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 25px;
      font-family: times new roman;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }


</style>

{% endblock %}"



