{% extends "navbar.html" %}

{% block link1 %}

<h1>About Lola</h1>
<p>Hi! It's Lola! This is my second Trimester in APSCP, and this trimester one of my biggest goals is to
    learn how to develop a database and take on a leadership role in our project. Here are some small things
    about me and my role that I will be updating throughout my progress during this project. Code Update</p>

<h2> Some things about me:</h2>
<li> I love my family and playing soccer:</li>
<iframe src="https://drive.google.com/file/d/1ovwJPtJtGNXywbU1Rx1srasUvg1KvdFY/preview" width="340"
        height="280"></iframe>
<iframe src="https://drive.google.com/file/d/1x8T1glK2Frhf-u9K_1FJwpuINdI4oQif/preview" width="240"
        height="280"></iframe>
<h3>My goals and role in this project:</h3>
<li>Create and manage ABOUT US pages</li>
<li>Make backgrounds for pages and navigation buttons that allow you to go back to the home/main page</li>
<li>Start working on database for college picker</li>
<li> Work on dropdown on ABOUT US page that lets you click which team member to look at</li>
<li> Work on aesthetics of home page and add logo + background</li>



<h1>About Nick</h1>
<p>Hello! My name is Nick and this is my first ever year I am taking computer science! Although I do not have any
    previous knowledge of any coding, this year I was able to expand my knowledge in coding. For instance I learned alot
    about python code and how to connect my intellij with my GitHub account. Hopefully in the future I will further
    continue grow in computer science learning more about code and deployment. </p>
<h2>Interesting Facts About Me:</h2>
<li>I always love eating out with friends and hanging out with them</li>
<li>Something I love to do is play basketball</li>
<img src= "https://media.discordapp.net/attachments/397581916922183680/845171171849928704/IMG_0861.PNG?width=342&height=608" width = "240" height = "360">
<img scr= width = "340" height = "280">
<h3>My Goals and Role in this Project Are:</h3>
<li>Be able to learn more on deployment</li>
<li>Understand and solve potential errors in code.</li>
<li>help best design the front home page along with adding more to the about us.</li>
<li>Collaborate with my team to implement our best ideas</li>



<h1>About Valerie</h1>
<p>Hi! My name is Val and this is my second year in computer science! Last year I took AP Computer
    Science A with a focus in Java, and this year I am taking AP Comp Sci Principles with a focus in Python
    and HTML. My goal is to become familiar with computer science and eventually have it as my major in
    college. </p>
<h2>Some Things About Me:</h2>
<li>I love hanging out with my friends</li>
<li>I am on my school's dance team</li>
<img src="/static/img/val_photo1.JPG" width = "240" height = "360">
<img scr="/static/img/val_photo1.JPG" width = "340" height = "280">
<h3>My Goals and Role in this Project Are:</h3>
<li>Be able to populate and manage an API Database</li>
<li>Develop structural code to prevent errors and bugs in the future</li>
<li>Create the Quiz Page to determine the best college for the user</li>
<li>Collaborate with my team to implement our best ideas</li>



<h1>About Michael </h1>

<p>Yo, my name is Mike and this is my junior year of high school at DNHS and my second trimester in AP Comp sci principles. One of my biggest goals for this class is to become more fluent in coding and use that for practical reasons such as creating a website or database.</p>
<h2>Some things about me:</h2>
<li>I'm on the highschool soccer team.</li>
<li>I hang out with my friends all the time, so covid hurts!</li>
<img src="https://cdn.discordapp.com/attachments/376760263732363275/845181709119914004/image0.png" width ="240" height = "360">
<img src="https://media.discordapp.net/attachments/376760263732363275/845181709355712512/image1.png?width=359&height=567" width ="240" height = "360">
<h3>My Goals and Role in this Project Are:</h3>
<li>Be able to create websites.</li>
<li>Build up to game design and function.</li>
<li>Touch up and refine key aspects of our code.</li>
<li>Work effectively and efficiently with my team.</li>
<style>
    body{
background-image: url('cool-background.jpg');
background-repeat: no-repeat;
animation: bg-animation 10s infinite;

}

@-webkit-keyframes bg-animation {

}

@keyframes bg-animation {
0% {
background-color: #5f9ea0;
}
25% {
background-color: #fff8dc;
}
75% {
background-color: #e9967a;
}
100% {
background-color: #e6e6fa;
}
</style>
{% endblock %}