<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
</head>
<body>
<h1 class="glow">About</h1>
<h1 class="black"> This website is meant to give the user a series of questions that will then reveal the best college for the user. Our database will include thousands of possible options for colleges for the user and the information will be obtained by a python web scraper.</h1>
<h1 class="purple"> Here is some information about the creators, our jobs, and our goals:</h1>

<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn" style="text-align: left; color:red; font-size: 25px" >Coder Joe's Menu</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="/main" style ="font-size:15px">Main Store</a>
        <a href="/aboutbilly" style ="font-size:15px">About Billy</a>
        <a href="/aboutlola" style ="font-size:15px">About Lola</a>
        <a href="/aboutvalerie" style ="font-size:15px">About Valerie</a>
        <a href="/aboutmichael" style ="font-size:15px">About Michael</a>


    </div>
</div>

</body>
</html>