{% extends "navbar.html" %}

{% block link1 %}
    <h2> Colleges Page</h2>

<p>Hi! Our project seeks to advise high school students like ourselves into picking a college that best suits them. We all know how life changing this decision could be, and picking a school that is right for you could lead to a students success in their future careers, lifestyles, and attitudes toward education. </p>
<h2>Some Things We Will Ask About You:</h2>
<li>Information about your work and study habits</li>
<li>Your interests as an individual and student</li>
<li>What you are looking for in terms of location and environment</li>
<li>What you see yourself doing in the future</li>
<img src="/static/img/colleges_pic1.JPG">
<img scr="/static/img/colleges_pic2.jpeg">
<h2>Some Feedback We Would Love to Hear:</h2>
<li>What other questions do you think would lead to a more accurate choice for you?</li>
<li>Are there any colleges missing that we should know about and add?</li>
<h2>Some of the colleges featured in our database:</h2>
<li>Central Baptist College</li>
<li>Central Christian College of Kansas</li>
<li>Central Christian College of the Bible</li>
<li>Central College</li>
<li>Central Connecticut State University</li>
<li>Central Methodist University</li>
<li>Central Michigan University</li>
<li>Central Penn College</li>
<li>Central State University</li>
<li>Central Washington University</li>
<li>Centralia College</li>
<li>Centre College</li>
<li>Chadron State College</li>
<li>Chamberlain University</li>
<li>Chaminade University of Honolulu</li>
<li>Champlain College</li>
<li>Chapman University</li>
<li>Charles R. Drew University of Medicine and Science</li>
<li>Charleston Southern University</li>
<li>Chatham University</li>
<li>Chestnut Hill College</li>
<li>Cheyney University of Pennsylvania</li>
<li>Chicago State University</li>
<li>Chipola College</li>
<li>Chowan University</li>
<li>Christian Brothers University</li>
<li>Christopher Newport University</li>
<li>Cincinnati Christian University</li>
<li>City University of Seattle</li>
<li>Claflin University</li>
<li>Claremont Graduate University</li>
<li>Claremont McKenna College</li>
<li>Clarion University of Pennsylvania</li>
<li>Clark Atlanta University</li>
<li>Clark University</li>
<li>Clarke University</li>
<li>Clarks Summit University</li>
<li>Clarkson College</li>
<li>Clarkson University</li>
<li>Clayton State University</li>
<li>Clear Creek Baptist Bible College</li>
<li>Cleary University</li>
<li>Clemson University</li>
<li>Cleveland Institute of Art</li>
<li>Cleveland Institute of Music</li>
<li>Cleveland State University</li>
<li>Cleveland University-Kansas City</li>
<li>Coastal Carolina University</li>
<li>Coe College</li>
<li>Cogswell Polytechnical College</li>



<style>

    p {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 20px;
      font-family: times-new-roman;
    }

    h2 {
      text-align: left;
      padding-left: 15;
      color: white;
      font-size: 40px;
      font-family: times-new-roman;
    }

    li {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 18px;
      font-family: times-new-roman;
    }

    img {
      padding: 10;
    }

        body{
background-image: url('cool-background.jpg');
background-repeat: no-repeat;
animation: bg-animation 10s infinite;

}

@-webkit-keyframes bg-animation {

}

@keyframes bg-animation {
0% {
background-color: #5f9ea0;
}
25% {
background-color: #5f9ea0;
}
75% {
background-color: #5f9ea0;
}
100% {
background-color: #5f9ea0;
}
</style>
{% endblock %}