{% extends "navbar.html" %}

{% block link1 %}
    <h1> Colleges Page</h1>
<style>
        body{
background-image: url('cool-background.jpg');
background-repeat: no-repeat;
animation: bg-animation 10s infinite;

}

@-webkit-keyframes bg-animation {

}

@keyframes bg-animation {
0% {
background-color: #5f9ea0;
}
25% {
background-color: #5f9ea0;
}
75% {
background-color: #5f9ea0;
}
100% {
background-color: #5f9ea0;
}
</style>
<p>Hi! Our project seeks to advise high school students like ourselves into picking a college that best suits them. We all know how life changing this decision could be, and picking a school that is right for you could lead to a students success in their future careers, lifestyles, and attitudes toward education. </p>
<h2>Some Things We Will Ask About You:</h2>
<li>Information about your work and study habits</li>
<li>Your interests as an individual and student</li>
<img src="/static/img/colleges_pic1.JPG">
<img scr="/static/img/colleges_pic2.jpeg">
<h3>Some Feedback We Would Love to Hear:</h3>
<li>What other questions do you think would lead to a more accurate choice for you?</li>
<li>How do you think we could make our website more inviting for the user?</li>

{% endblock %}