{% extends "navbar.html" %}

{% block link1 %}
    <h2> Colleges Page</h2>

<p>Hi! Our project seeks to advise high school students like ourselves into picking a college that best suits them. We all know how life changing this decision could be, and picking a school that is right for you could lead to a students success in their future careers, lifestyles, and attitudes toward education. </p>
<h2>Some Things We Will Ask About You:</h2>
<li>Information about your work and study habits</li>
<li>Your interests as an individual and student</li>
<li>Your preferences in terms of location and enviornment</li>
<li>What you see yourself doing in the future</li>
<img src="/static/img/colleges_pic1.JPG">
<img scr="/static/img/colleges_pic2.jpeg">
<h2>Some Feedback We Would Love to Hear:</h2>
<li>What other questions do you think would lead to a more accurate choice for you?</li>
<li>Are there any colleges missing that we should know about and add?</li>
<h2>Some of the colleges featured in our database:</h2>


<style>

    p {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 20px;
      font-family: times-new-roman;
    }

    h2 {
      text-align: left;
      padding-left: 15;
      color: white;
      font-size: 40px;
      font-family: times-new-roman;
    }

    li {
      text-align: left;
      padding-left: 15;
      color: black;
      font-size: 18px;
      font-family: times-new-roman;
    }

    img {
      padding: 10;
    }

        body{
background-image: url('cool-background.jpg');
background-repeat: no-repeat;
animation: bg-animation 10s infinite;

}

@-webkit-keyframes bg-animation {

}

@keyframes bg-animation {
0% {
background-color: #5f9ea0;
}
25% {
background-color: #5f9ea0;
}
75% {
background-color: #5f9ea0;
}
100% {
background-color: #5f9ea0;
}
</style>
{% endblock %}