{% extends "navbar.html" %}

{% block link1 %}

    <h4 style="text-align: center"> Welcome to the College Database Site!</h4>
<h5 style="text-align: center; font-family: times-new-roman; color:white; font-size 25px"> Our goal for this website is to create a user-friendly quiz that allows students like ourselves to find a college that best suits them.<h5></h5>
<style>

    body{
    background-image: url('cool-background.jpg');
    background-repeat: no-repeat;
    animation: bg-animation 10s infinite;

    }

    @-webkit-keyframes bg-animation {

    }

    @keyframes bg-animation {
    0% {
        background-color: #f57e42;
    }
    25% {
        background-color: #1f5d9c;
    }
    75% {
        background-color: #60d66c;
    }
    100% {
        background-color: #EC9F20;
    }

    }
</style>
{% endblock %}