{% extends "navbar.html" %}

{% block link1 %}

<h1>How We Made Parrots Music</h1>
<p> Embedded below, you will find our project plan, READ.ME, and other helpful resources that explain the 12-week-long process that went into the creation of this website. The roles of our five team members were crucial to the success of our site, and we hope you like it as much as we do!</p>


<iframe src="https://docs.google.com/document/d/1DBjzyTaGJhTi7YqW3e9asLseoErg5awi92WLcfcfcIk/edit?usp=sharing" width="1040"
        height="480"></iframe>



<style>
    body{
background-image: url('cool-background.jpg');
background-repeat: no-repeat;
animation: bg-animation 10s infinite;

}

@-webkit-keyframes bg-animation {

}

@keyframes bg-animation {
0% {
background-color: #5f9ea0;
}
25% {
background-color: #fff8dc;
}
75% {
background-color: #e9967a;
}
100% {
background-color: #e6e6fa;
}
</style>
{% endblock %}