{% extends "navbar.html" %}

{% block link1 %}

<form action="/next" method="post">
  <div class="question">
  <div class="question_text">{{ data[question_index].question }}</div>
    {% for answer in data[question_index].answers %}
      <div class="question_answer">
        <label>
          <input type="radio" name="answer" value="{{ answer.index }}">
          {{ answer.text }}
        </label>
      </div>
    {% endfor %}
    <input type="hidden" name="next_question" value="{{ question_index + 1 }}">
    {% if question_index == data|length - 1 %}
    <input type="submit" value="Submit" class="button">
    {% else %}
    <input type="submit" value="Next" class="button">
    {% endif %}
  </div>
</form>

<style>
  label {
    margin-top: .5rem;
  }

  input {
    margin-right: 12px;
  }

  .question {
    width: 800px;
  }

  .question_text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 16px;
  }

  .question_answer {
    margin-left: 32px;
    border-bottom: dotted 1px lightgray;
  }

  .button {
    margin: 16px;
  }
</style>

{% endblock %}