{% extends "navbar.html" %}

{% block link1 %}
    <h1 class="black"> Answer the following questions as best as possible: </h1>
<div style='transform: scale(0.65); position: relative; top: -100px;'>
    <h3>What is your GPA (weighted)?</h3>
    <p>Choose 1 answer</p>
    <hr />

    <div id='block-11' style='padding: 10px;'>
        <label for='option-11' style=' padding: 5px; font-size: 2.5rem;'>
            <input type='radio' name='option' value='4.0+' id='option-11' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
            4.0+</label>
        <span id='result-11'></span>
    </div>
    <hr />

    <div id='block-12' style='padding: 10px;'>
        <label for='option-12' style=' padding: 5px; font-size: 2.5rem;'>
            <input type='radio' name='option' value='3.0+' id='option-12' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
            3.0+</label>
        <span id='result-12'></span>
    </div>
    <hr />

    <div id='block-13' style='padding: 10px;'>
        <label for='option-13' style=' padding: 5px; font-size: 2.5rem;'>
            <input type='radio' name='option' value='2.0+' id='option-13' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
            2.0+</label>
        <span id='result-13'></span>
    </div>
    <hr />

    <div id='block-14' style='padding: 10px;'>
        <label for='option-14' style=' padding: 5px; font-size: 2.5rem;'>
            <input type='radio' name='option' value='1.0+' id='option-14' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
            1.0+</label>
        <span id='result-14'></span>
    </div>
    <hr />
    <button type='button' onclick='displayAnswer1()' style='width: 100px; height: 40px; border-radius: 3px; background-color: lightblue; font-weight: 700;'>Submit</button>
</div>
<a id='showanswer1'></a>
<script>

</script>
{% endblock %}