<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for your feedback!</title>
</head>
<body>
<h1 style="text-align: center; font-family: times-new-roman; color:black; font-size 100px"> Thank you for your feedback!</h1>


<style>
    body{
background-image: url('cool-background.jpg');
background-repeat: no-repeat;
animation: bg-animation 10s infinite;

}

@-webkit-keyframes bg-animation {

}

@keyframes bg-animation {
0% {
background-color: #5f9ea0;
}
25% {
background-color: #fff8dc;
}
75% {
background-color: #e9967a;
}
100% {
background-color: #e6e6fa;
}
</style>
</body>
</html>