{% extends "navbar.html" %}

{% block link1 %}
<h2 style="text-align: center; font-family: times-new-roman; color:white; font-size 100px"> Sign up below to connect to our Parrots Movie Recommendations. By signing up, your experience will be personalized and results will be unique to you!</h2>
<style>
    body{
background-image: url('cool-background.jpg');
background-repeat: no-repeat;
animation: bg-animation 10s infinite;

}

@-webkit-keyframes bg-animation {

}

@keyframes bg-animation {
0% {
background-color: #64707d;
}
25% {
background-color: #8fa1b5;
}
75% {
background-color: #64707d;
}
100% {
background-color: #8fa1b5;
}
</style>
<form>
    <div class="form-group">
        <label for="InputName">Name</label>
        <input class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="First Last">
    </div>
    <div class="form-group">
        <label for="InputUsername">Username</label>
        <input class="form-control" id="InputUsername" aria-describedby="userHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" formmethod="post">Sign Up</button>
</form>
{% endblock %}