<!DOCTYPE html>

{% extends "navbar.html" %}

{% block link1 %}

<h1> Ryan's Minilab </h1>
<h2>Industry Chosen: Tech... Refresh Page to generate a new idea... Idea shown Below:</h2>
<h3>{{ideaStack.getIdea()}}</h3>

<h2 style="text-align: center; font-family: times; font-size 25px"> Uses Blueprint Structure: Can be seen in Github Minilab Directory: (https://github.com/ryanshay18/P3_Parrots/tree/main/minilabs) </h2>
<h2 style="text-align: center; font-family: times; font-size 25px"> I used a class: Can be seen in python code in Github Minilab Directory: (ryanminilab.py) </h2>
<h2 style="text-align: center; font-family: times; font-size 25px"> I created an object instance in the (ryan.py) file  </h2>
<h2 style="text-align: center; font-family: times; font-size 25px"> Displays data using getters can be seen on this html page above and in the python file using a getter function/method </h2>
<h4 style="text-align: center; font-family: times; font-size 10px"> Reflection/WOW: The Wow aspect of my project is the basis of the minilab. The innovative idea of randomizing startup ideas to provide starting entrepreneurs with inspiration to provide value to the world.</h4>

{% endblock %}