<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h2 style="text-align: center; font-family: times; color:red; font-size 25px"> Uses blueprint structure </h2>
<h2 style="text-align: center; font-family: times; color:red; font-size 25px"> I defined a class </h2>
<h2 style="text-align: center; font-family: times; color:red; font-size 25px"> I created an object </h2>
<h2 style="text-align: center; font-family: times; color:red; font-size 25px"> Displays data using getters </h2>
<h4 style="text-align: center; font-family: times; color:red; font-size 10px"> Reflection/WOW: The math required a long with the proper use of getters </h4>

</body>
</html>